/*
### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700
*/

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root{
    --sedan-background:hsl(31, 77%, 52%);
    --suv-background:hsl(184, 100%, 22%);
    --luxury-background:hsl(179, 100%, 13%);

    --para-color:hsla(0, 0%, 100%, 0.75);
    --head-color:hsl(0, 0%, 95%);

    --font-primary:"Big Shoulders Display", sans-serif;
    --font-secondary:"Lexend Deca", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 15px;
}

body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center
}

.cards{
    max-width:61em;
    display:flex;
    margin-bottom: 2rem;;
}

/*Sedan Card*/
.card-sedan{
    background-color: var(--sedan-background);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.card-sedan__pic{
    padding-top:2.7rem;
    padding-left: 3rem;
}
.card-sedan__head{
    font-family: var(--font-primary);
    font-size:2rem;
    color:var(--head-color);
    padding-left:3rem;
    padding-top: 2rem;
    text-transform: uppercase;
}

.card-sedan__para{
    font-family: var(--font-secondary);
    color: var(--para-color);
    padding-left:3rem;
    padding-top: 2rem;
    font-size: 1.08rem;
    margin-right:2rem;
    padding-right:2rem;
    
}

.card-sedan__btn{
    font-family: var(--font-secondary);
    color:var(--head-color);
    background-color: var(--sedan-background);
    margin-left:3rem;
    margin-top: 5.04rem;
    margin-bottom: 2.76rem;
    padding:.6rem 2rem .6rem 2rem;
    border-color: var(--head-color);
    border-radius: 24px;
    border-style:solid;
    font-size: 1.08rem;
    cursor:pointer;
}

.card-sedan__btn:hover{
    background-color: white;
    color:var(--sedan-background);
}

/*SUV card*/

.card-suv{
    background-color: var(--suv-background);

}

.card-suv__pic{
    padding-top:2.7rem;
    padding-left: 3rem;
}
.card-suv__head{
    font-family: var(--font-primary);
    font-size:2rem;
    color:var(--head-color);
    padding-left:3rem;
    padding-top: 2rem;
    text-transform: uppercase;
}

.card-suv__para{
    font-family: var(--font-secondary);
    color: var(--para-color);
    padding-left:3rem;
    padding-top: 2rem;
    font-size: 1.08rem;
    margin-right:2rem;
    padding-right:2rem;
    
}

.card-suv__btn{
    font-family: var(--font-secondary);
    color:var(--head-color);
    background-color: var(--suv-background);
    margin-left:3rem;
    margin-top: 6.4rem;
    margin-bottom: 2.76rem;
    padding:.6rem 2rem .6rem 2rem;
    border-color: var(--head-color);
    border-radius: 24px;
    border-style:solid;
    font-size: 1rem;
    cursor: pointer;
}

.card-suv__btn:hover{
    background-color: white;
    color:var(--suv-background);
}

/* Luxury card*/

.card-luxury{
    background-color: var(--luxury-background);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.card-luxury__pic{
    padding-top:2.7rem;
    padding-left: 3rem;
}
.card-luxury__head{
    font-family: var(--font-primary);
    font-size:2rem;
    color:var(--head-color);
    padding-left:3rem;
    padding-top: 2rem;
    text-transform: uppercase;
}

.card-luxury__para{
    font-family: var(--font-secondary);
    color: var(--para-color);
    padding-left:3rem;
    padding-top: 2rem;
    font-size: 1.08rem;
    margin-right:2rem;
    padding-right:2rem;
    
}

.card-luxury__btn{
    font-family: var(--font-secondary);
    color:var(--head-color);
    background-color: var(--luxury-background);
    margin-left:3rem;
    margin-top: 5.04rem;
    margin-bottom: 2.76rem;
    padding:.6rem 2rem .6rem 2rem;
    border-color: var(--head-color);
    border-radius: 24px;
    border-style:solid;
    font-size: 1rem;
    cursor: pointer;
}

.card-luxury__btn:hover{
    background-color: white;
    color:var(--luxury-background);
}


/* Media Queries */

@media screen and (max-width:920px){
    .cards{
        display: flex;
        flex-direction: column;
        max-width:30em;
        margin-top: 1em;
        margin-bottom: 3em;
    }
    .card-sedan{
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;  
    }
    .card-luxury{
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
    .card-sedan__btn{
        background-color: #fff;
        color: var(--sedan-background);

    }
    .card-sedan__btn:hover{
        background-color:var(--sedan-background);
        color:#fff;
    }

    .card-suv__btn{
        background-color: #fff;
        color:var(--suv-background)
    }

    .card-suv__btn:hover{
        background-color:var(--suv-background);
        color:#fff;
    }

    .card-luxury__btn{
        background-color: #fff;
        color: var(--luxury-background);
    }
    .card-luxury__btn:hover{
        background-color:var(--luxury-background);
        color: #fff;
    }
}


